{% extends 'base.html' %}

{% block content %}
<section class="trends" id="trends">
    <div class="max-width">
        <h2 class="title">Trends</h2>
        <div class="trends-content">
            <div class="column left">
                <div class="text">WHAT WORKS</div>
                <p>A TikTok trend is a sound, dance, hashtag, or video format that goes viral.<br><br>Once a trend kicks off, others will jump on the bandwagon while the content is still fresh. Eras of TikTok can be remembered through popular trending sounds or formats, and trends that are only a year old can feel absolutely ancient given how quickly they go in and out of style.<br><br>
                    Trends are great for TikTok creators because they inspire fresh, regular content for an algorithm that rewards consistency. <br><br>Trends can also help launch careers and grow small businesses, and being early to a trend can also lead to millions of video views and raise a creator's popularity. In short, TikTok trends make up the structure for a lot of popular content on the app, so it's vital to be on top of what's new if you're planning on using TikTok for business or pleasure.</p>
                <a href="#">Read more</a>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>POV (Point of View)</span>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Storytime</span>
                        <span>60%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Self-growth & glow-ups</span>
                        <span>80%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Vulnerability</span>
                        <span>50%</span>
                    </div>
                    <div class="line php"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Astrology</span>
                        <span>30%</span>
                    </div>
                    <div class="line mysqla"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>#Foodtok</span>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Transitions</span>
                        <span>60%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>The green screen filter</span>
                        <span>80%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>TikTok Challenges</span>
                        <span>50%</span>
                    </div>
                    <div class="line php"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Dancing / Choreography</span>
                        <span>70%</span>
                    </div>
                    <div class="line mysql"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}