{% extends 'base.html' %}

{% block content %}
<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">Where It All Begun</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-paint-brush"></i>
                    <div class="text">ORIGINS</div>
                    <p>TikTok's origins are different to the fairytale start-up story we have heard before. This is not an empire built by a couple of friends with a great idea in their mum's garage. It actually started life as three different apps. The first was an app called Musical.ly, which launched in Shanghai in 2014 but had strong US business links and a healthy audience in that key market.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-chart-line"></i>
                    <div class="text">THE MERGE</div>
                    <p>In 2016, Chinese tech giant ByteDance launched a similar service in China called Douyin. It attracted 100 million users in China and Thailand in the space of a year. ByteDance decided it was onto something and wanted to expand under a different brand - TikTok. So, in 2018 it bought Musical.ly, folded it in, and began TikTok's global expansion.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-code"></i>
                    <div class="text">WORLDWIDE</div>
                    <p>The growth of TikTok and its sister app Douyin have been rapid.<br><br> In July last year the apps already had one billion downloads worldwide, of which 500 million were active users. <br><br>A year later they were on two billion downloads and about 800 million active users.</p>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>
{% endblock %}