{% extends 'base.html' %}

{% block content %}
 <!-- about section start -->
 <section class="services" id="services">
    <div class="max-width">
        <h2 class="title">What is TikTok</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <div class="text">What is TikTok?</div>
                    <p>TikTok is derived from Musical.ly, an app where people lip-synched to audio clips and shared the videos with their friends. Essentially, it's a video-based platform that allows you to create the content directly within the app or upload from your smartphone. So, why should you care about TikTok? How about one billion installs! That's a lot of people using the app.</p>
                    
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">This generation's Vine !</div>
                    <p>But beyond a scrolling video feed, there aren't too many comparisons. Whereas Vine hinged on the concept of incredibly short, six-second videos, TikTok is more free-form. With that freedom comes a variety of formats and memes that have sprung up on the platform — from quick sketches to DIY photography tutorials. As more and more users flock to the app, more brands are joining also, trying to market on this game-changing platform.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">For You Page:</div>
                    <p>This is the homepage of the app. The For You page is where TikTok presents a curated list of videos for you to watch, based on your previous activity. Once TikTok gets a sense of the type of videos you like, its algorithm will serve up recommended videos (by grouping together related videos) for each user. The For You page is your first starting place on TikTok, but like any platform, dive a little deeper and you'll find thriving communities built around niche interests.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">Following Feed:</div>
                    <p>Discover Page: This is where you'll find new content shared to TikTok. The Discover page offers content based on themes, hashtags, viral videos, and more. This is your entry point to discovering what lies beyond the For You page.<br><br>Hashtags: If you're not familiar, it's a keyword phrase that labels and groups content on a social platform. Hashtags are extremely important to TikTok's culture and algorithm.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">TikTok for business</div>
                    <p>If you''re a business owner, you're probably asking yourself if TikTok is worth using for your marketing strategy, and if so, how to go about doing it.<br>
                    TikTok's user statistics and smart features are enticing, not to mention, the launch of TikTok for business platform is a promising sign that the app is moving in a more business oriented direction.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">Influencers</div>
                    <p>Influencer marketing: no social media platform is complete without it. <br><br>Whether it's big-time influencers with 100,000+ followers or micro influencers with smaller, more targeted followings, brands can team up with TikTok stars to make first-rate content that ultimately promotes their brand.  </p>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>



{% endblock %}